@font-face {
    font-family: spotBold;
    src: url(../fonts/Gotham-Bold.otf);
}

@font-face {
    font-family: spotLight;
    src: url(../fonts/Gotham-Light.otf);
}

.bullet {
    font-size: 2rem;
    margin-bottom: 20px;
    font-family: spotLight;
}

/* opening AKA slide 1 */

.open {
    font-family: spotBold;
    color: #C7ec7b;
}

.spot-img {
    width: 200px;
    height: 200px;
}

.name {
    font-family: spotBold;
    color: #C7ec7b;
}



/* scenario 1 */




/*slide 2 */

.bg-1 {
    background-color: #4B917D;
}

.bold-1 {
    color: #C7ec7b;
    font-family: spotBold;
}

.head-1 {
    font-family: spotBold;
}

.sub-1 {
    font-family: spotBold;
    font-size: 2.5rem;
    color: #C7ec7b;
}

.box-1 {
    width: 600px;
    height: 360px;
    border: 2px solid black;
    border-radius: 8px;
}

.box-1 > p {
    font-size: 1.6rem;
    margin: 0;
    margin-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    font-family: spotLight;
    line-height: 1.5;
}

.box-1 > :first-child, .box-1 > :nth-child(3){
    font-family: spotBold;
}

/*slide 3 */

.box-2 {
    width: 600px;
    height: 345px;
    border: 2px solid black;
    border-radius: 8px;
}

.box-2 > p {
    font-size: 1.6rem;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 16px;
    font-family: spotLight;
    line-height: 1.5;
}

.box-2 > :first-child {
    font-family: spotBold;
}

/*slide 4 */

.box-3 {
    width: 600px;
    height: 410px;
    border: 2px solid black;
    border-radius: 8px;
}

.box-3 >  p {
    font-size: 1.6rem;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    font-family: spotLight;
    line-height: 1.5;
}

.box-3 > :first-child, .box-3 > :nth-child(3), .box-3 > :nth-child(5) {
    font-family: spotBold;
}

/* slide 5 */

.box-4 {
    width: 600px;
    height: 470px;
    border: 2px solid black;
    border-radius: 8px;
}

.box-4 > p {
    font-size: 1.6rem;
    padding-left: 10px;
    padding-right: 10px;
    font-family: spotLight;
    margin-bottom: 16px;
    line-height: 1.5;
}

.box-4 > :first-child {
    font-family: spotBold;
}

/* slide 6 */

.box-5 {
    width: 600px;
    height: 360px;
    border: 2px solid black;
    border-radius: 8px;
}

.box-5 > p {
    font-size: 1.6rem;
    margin-bottom: 16px;
    padding-left: 10px;
    font-family: spotLight;
    line-height: 1.5;
}

.box-5 > :first-child {
    font-family: spotBold;
}

/* slide 7 */

.box-6 {
    width: 600px;
    height: 440px;
    border: 2px solid black;
    border-radius: 8px;
}

.box-6 > p {
    font-size: 1.6rem;
    margin-bottom: 16px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: spotLight;
    line-height: 1.5;
}

.box-6 > :first-child {
    font-family: spotBold;
}


/* Scenario 2 */

.bg-2 {
    background-color: #1DB954;
}

.bold-2 {
    color: white;
    font-family: spotBold;
}

.sub-2 {
    font-family: spotBold;
    font-size: 2.5rem;
    color: white;
}

/* slide 8 and slide 9 */

.box-7 {
    width: 600px;
    height: 360px;
    border: 2px solid black;
    border-radius: 8px;
}

.box-7 > p {
    font-size: 1.6rem;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 17px;
    font-family: spotLight;
    line-height: 1.5;
}

.center-p {
    margin-top: 50px;
}

/* slide 10 */

.box-8 {
    width: 1200px;
    height: 505px;
    border: 2px solid black;
    border-radius: 8px;
    margin-top: 40px;
}

.box-8 > p {
    text-align: start;
    margin-bottom: 16px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    font-size: 1.6rem;
    font-family: spotLight;
    line-height: 1.5;

}

/* scenario 3 */


/* slide 11 */

.bg-3 {
    background-color: #C7ec7b;
}

.bold-3 {
    color: #F037A5;
    font-family: spotBold;
}

.sub-3 {
    font-family: spotBold;
    font-size: 2.5rem;
    color: #F037A5
}

.box-9 {
    width: 600px;
    height: 300px;
    border: 2px solid black;
    border-radius: 8px;
}

.box-9 > p {
    font-size: 1.6rem;
    padding-left: 10px;
    padding-right: 10px;
    font-family: spotLight;
    margin-top: 70px;
    line-height: 1.5;
}

.flow {
    position: relative;
    top: 80px;
}

/* slide 12 */

.img {
    width: 400px;
    height: 400px;
}
